@model Fresh_Sense.Models.Fault

@{
    Layout = "_ProcessFaults";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fault Status</title>
    <link rel="stylesheet" href="~/css/ViewFault.css">
    <style>
        h2 {
            background-color: steelblue; /* Steel blue background */
            color: white; /* White text color */
            font-weight: bold; /* Bold text */
            padding: 20px; /* Padding around the text */
            border-radius: 15px; /* Rounded edges */
            margin: 20px 0; /* Margin above and below the heading */
            text-align: center;
        }

        .back-button-right {
            position: absolute; /* Allows positioning the element with top, right, etc. */
            top: 100px; /* Adjust the top position as needed */
            right: 10px; /* Adjust the right position as needed */
            background-color: red; /* Changes the button color to red */
            color: white; /* Changes the text color to white for better contrast */
            padding: 10px 20px; /* Adds some padding to the button */
            text-decoration: none; /* Removes the underline from the link */
            border-radius: 5px; /* Rounds the corners of the button */
        }

            /* Optional: Add hover effect for better user experience */
            .back-button-right:hover {
                background-color: darkred; /* Darker red on hover */
            }

    </style>
</head>
<body>
    <div class="header">
       
    </div>
    <a href="@Url.Action("Search", "Fault")" class="back-button back-button-right">Back</a>

    <div class="container">
        <h2>Fault Status</h2>
        <div class="content">
            <p>
                <u>Your Fault Status is as follows:</u>
            </p>

            <table>
                <tr>
                    <th>Fault Number:</th>
                    <td>@Model.faultID</td>
                </tr>
                <tr>
                    <th>Fridge Model:</th>
                    <td>@Model.fridgeModel</td>
                </tr>
                <tr>
                    <th>Fault Type:</th>
                    <td>@Model.faultType</td>
                </tr>
                <tr>
                    <th>Fault Description:</th>
                    <td>@Model.faultDescription</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>@Model.Status</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
